.App {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  height: 60vh;
  /* background-color: red; */
}

header {
  text-align: center;
}
.todos {
  height: 100%;
}
.todo-list {
  padding-left: 0;
  width: 50%;
  height: 100%;
  margin: 30px auto 0;
  overflow-y: scroll;
}
.todo-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.todo-item span {
  cursor: pointer;
}
